/* Body */

.home-page body {
    margin: 0;
    overflow: hidden;
}

.home-page * {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

/* Header */


/* Estilos para el header */
.home-page header {
    background-color: #EAC926;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 
    width: auto;
}

/* Estilos para el logo */
.home-page .logo_header {
    width: 12rem;
    margin: 30px 40px 10px 20px;
}

/* Estilos para el formulario de búsqueda */
.home-page form {
    display: flex; 
    flex-grow: 1; 
    margin: 1rem 20px; 
}

/* Estilos para el input de búsqueda */
.home-page form input[type="search"] {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px 0 0 5px;
    flex-grow: 1; 
    height: 2.5rem;
    margin-left: 0rem;
}
.home-page .cont-form{
    flex-grow: 1; 
    max-width: 1900px; 

}


/* Estilos para el botón de búsqueda */
.home-page form button {
    background-color: #f0f0f0; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-left: none; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer; 
    height: 2.5rem;
}

/* Estilos del ícono dentro del botón de búsqueda */
.home-page form button i {
    color: #888; 
    font-size: 20px;
}

/* Efecto hover en el ícono */
.home-page form button:hover i {
    color: #3483fa; 
}

/* Estilos para el texto debajo de la búsqueda */
.home-page .header_titulo {
    font-size: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Estilos para el nav */
.home-page .navbar {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
}

/* Estilos para las listas dentro del nav */
.home-page .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Estilos para cada elemento de la lista */
.home-page .navbar ul li {
    margin: 0 15px;
}

/* Estilos para los enlaces dentro de los items de la lista */
.home-page .navbar ul li a {
    text-decoration: none;
    color: #333;
    margin-left: 0rem;
    padding:0;
}

/* Estilo para hover sobre los enlaces */
.home-page .navbar ul li a:hover {
    color: #3483fa;
}


/* Media query para pantallas pequeñas (hasta 480px) */
@media (max-width: 425px) {
    .home-page header{
        height: 15rem;
    }
    /* Mostrar la hamburguesa en móviles pequeños */
    .home-page .hamburger-menu {
        display: block; 
        font-size: 1.5rem;
    }

    /* Ajustar el logo para ser más pequeño y estar al lado del search */
    .home-page .logo_header {
        width: 12rem;
        margin: 0;
        margin-left: 1rem;
    }
    .home-page .header_titulo{
        font-size: 1rem;
        display: flex;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    /* Ajustar el input de búsqueda para que sea más pequeño */
    .home-page form input[type="search"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        width: 1rem; /* Fija un tamaño pequeño para que el logo quepa al lado */
        height: 2.5rem;
    }

    .home-page .cont-form{
        width: 13rem;
    }

    /* Ajustar el botón con el icono de búsqueda */
    .home-page form button {
        padding: 8px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 5px 5px 0;
        height: 2.5rem;
        cursor: pointer;
    }

    /* Alinear logo y search box al mismo nivel */
    .home-page .logo_search_container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%; /* Asegura que los elementos ocupen todo el ancho */
    }
    .burger_menu {
        background-color: blue; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 50px; 
        height: 50px; 
        border-radius: 10px; 
        margin-left: 11.5rem;
        margin-top: 1rem;
    }
    
    /* Estilo del ícono de la hamburguesa */
    .burger_menu i {
        color: white; 
        font-size: 24px; 
        transition: transform 0.3s ease; 
    }
    
}



/* Main */

.home-page .main_banner {
    display: block;
    margin: 0 auto; 
    width: 100%; 
    height: auto; 
    max-width: 100%; 
}

.home-page .productos_contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0 auto;
    padding: 0;
}

/* Estilo de los artículos */
.home-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    flex-grow: 1; 
    width: calc(25% - 40px); 
    box-sizing: border-box; 
}

/* Imágenes */
.home-page article img {
    margin: 0; 
    max-width: 100%; 
    height: auto;
    object-fit: cover; 
}

.home-page .producto {
    background-color: rgb(255, 255, 255);
    padding: 0; 
    margin: 15px 0;
    box-shadow: none !important;
    position: relative; 
    flex-grow: 1; 
}

.home-page .producto .info_caja {
    border-top: 2px solid #ebebeb; 
    padding: 15px; 
    position: relative; 
    margin-top: -1px; 
}

.home-page .precio, 
.home-page .descuento {
    font-size: 16px;
    width: auto; 
}

.home-page .descuento {
    color: green;
}

.home-page .articule_name {
    font-size: 16px;
    color: #666;
}

.home-page .inf_producto {
    text-align: left;
    height: 100%;
}

.home-page .inf_producto p, 
.inf_producto span {
    margin: 0.1rem;
}

.home-page .inf_producto p {
    margin-bottom: 5px;
    margin-top: 1rem;
}

.home-page .inf_producto h4 {
    font-size: 18px;
    margin-top: 1rem;
}

.home-page .icono-envio {
    position: absolute; 
    top: -15px; 
    right: 20px; 
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #28a745;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.home-page .icono-envio i {
    font-size: 20px;
    color: #28a745;
}



/* Efecto en el icono del camión cuando se pasa el mouse sobre la tarjeta de producto */
.home-page .producto:hover .icono-envio {
    transform: rotate(-90deg); 
    transition: transform 0.5s ease; 
}

.home-page .icono-envio {
    position: absolute; 
    top: -15px; 
    right: 20px; 
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #28a745;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: transform 0.5s ease; 
}

.home-page .icono-envio i {
    font-size: 20px;
    color: #28a745;
}



/* Estilo general de productos */
.producto {
    position: relative;
    margin: 20px;
    box-shadow: none; 
    transition: box-shadow 0.3s ease; 
}

/* Ocultar el nombre del producto por defecto */
.articule_name {
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

/* Mostrar el nombre del producto al hacer hover */
.producto:hover .articule_name {
    opacity: 1; 
}

/* Agregar sombra cuando el usuario pase el mouse sobre la tarjeta del producto */
.producto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; 
}

/* Estilos para que las imágenes se mantengan */
.producto img {
    width: 100%;
    height: auto;
}





/* Estilo adicional para pantallas pequeñas */
@media (max-width: 768px) {
    .home-page article {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .home-page article {
        width: 100%; 
    }
    .home-page .main_banner {
        display: none;
    }
}


.home-page .productos_contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0 auto;
    padding: 0;
}

/* Ajustes de los artículos para que ocupen más espacio */
.home-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    width: calc(25% - 40px);
    flex-grow: 1; 
    box-sizing: border-box;
}

/* Asegurar que las imágenes ocupen el máximo espacio */
.home-page article img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.home-page .titulos{
    margin-left:0.5rem;
    margin-top: 1rem;
}

/* Estilo para pantallas medianas (tablets) */
@media (max-width: 768px) {
    .home-page article {
        width: calc(50% - 20px);
    }
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .home-page article {
        width: 100%; 
    }
}

/* Estilo para pantallas grandes (desktops) */
@media (min-width: 1024px) {
    .home-page .productos_contenedor {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .home-page article {
        width: calc(23% - 20px); 
        margin: 1%;
        box-sizing: border-box;
    }
}

/* Footer */

.home-page footer {
    background-color: white !important;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.home-page .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 250px;
}

.home-page .footer-item i {
    font-size: 40px;
    color: #1259c3;
    margin-bottom: 10px;
}

.home-page .footer-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.home-page .footer-item p {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

.home-page .footer-item:last-child {
    width: 100%;
    text-align: center;
}

.home-page main {
    background-color: #ebebeb;
}



.footer-item i {
    font-size: 24px;
    color: #666; 
    transition: color 0.3s ease; 
}

.footer-item:hover i {
    color: #FFCC00; 
}



@media (min-width: 768px) {
    .home-page .producto {
        width: 45%; 
        margin: 15px auto; 
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home-page article {
        flex-direction: row; 
        justify-content: space-between; 
    }


    .home-page .burger_menu i {
        display: none; 
    }
}

@media (min-width: 1024px) {
    .home-page .producto {
        width: 30%; 
        margin: 15px auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home-page article {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .home-page .articule_name {
        display: none;
    }

    .home-page .navbar {
        display: none; 
    }
    
    .home-page .burger_menu i {
        display: block; 
    }
}



