/* Body */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #ebebeb;
}

/* Header */
.login-page header {
    height: 130px;
    margin: 0;
    background-color:#EAC926;
}

.login-page .logo_header {
    width: 150px;
    height: auto;
    margin-right: 20px;
    margin-top: 1rem;
}

.login-page .search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 100%;
}

.login-page form {
    display: flex;
    margin-right: 20px;
    margin-left: 11rem;
    margin-top: -3rem;  
}

.login-page form input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;

}

.login-page form button {
    padding: 10px 20px;
    border: none;
    background-color: #3483fa;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin: 0;
}

.login-page form button:hover {
    background-color: #2968c8;
}

.login-page h1{
    font-size: 18px;
    white-space: nowrap;
    margin-left: 1rem;
    margin-top: -2rem;
}

.login-page nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin:0;
}

.login-page nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    
}

.login-page nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
    margin-top: 2rem;
}

.login-page nav ul li a:hover {
    color: #3483fa;
}

.login-page .help-item {
    margin-right: 300px;
}

/* Main */

.login-page html, .login-page body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.login-page header, .login-page footer {
    padding: 10px 0;
}

.login-page main {
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinear hacia arriba */
    height: calc(55vh - 80px); /* Altura del viewport menos el header y footer */
}

.login-page .form-especial {
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column; /* Columna para inputs y botón */
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top:1rem;
}

.login-page .form-especial input {
    width: px; 
    padding: 20px;
    margin: 30px 0;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
}

.login-page .form-especial button {
    padding: 15px;
    font-size: 1.2em;
    background-color: #03264C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */

.login-page .form-especial button:hover {
    background-color: #555;
}

.login-page footer {
    background-color: white !important;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.login-page .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 250px;
}

.login-page .footer-item i {
    font-size: 40px;
    color: #1259c3;
    margin-bottom: 10px;
}

.login-page .footer-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.login-page .footer-item p {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

.login-page .footer-item:last-child {
    width: 100%;
    text-align: center;
}

